---
layout: bootstrap
published: true
---

  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Start</a></li>
            <li class="breadcrumb-item active" aria-current="page">Zadanie {{ page.task_id }}</li>
          </ol>
        </nav>
        <h2>Zadanie {{ page.task_id }}</h2>
        <p class="lead"><strong>{{ page.task_name }}</strong></p>
        <hr class="my-4">
      </div>
    </div>
  </div>

  {{ content }}
