<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {% if page.lang == 'pl' %}
            Zaimplementuj następujący test
          {% elsif page.lang == 'en' %}
            Implement following test
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-5 pr-5">
        {% for scenario in page.exercise-scenarios %}
          <p class="lead">{{ scenario.name }}</p>
          <ol>
          {% for step in scenario.steps %}
            <li> {{ step }}</li>
          {% endfor %}
          </ol>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
